*, *:before, *:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

header {
   width: 100%;
   height: 48px;
   margin-top: 3.6em;
   margin-bottom: 3.6em;
}

body {
	background: #DCDCDC;
}
.container{
	max-width: 1128px;
	margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}
 
.clearfix:after {
   clear: both;
}
 
.clearfix {
   *zoom: 1;
}

img,
picture,
video,
embed {
	max-width: 100%;
}

.coluna {
 	width: 23.404255319149%; /* 264px / 1128px */
 	margin-right: 2.127659574468%; /* 24 / 1128px */
	float: left;
}
 
.coluna:last-child {
	margin-right: 0;
}

footer {
   width: 100%;
   margin-top: 2.4em;
   margin-bottom: 2.4em;
   float: left;
   clear: both;
}

@media screen and (max-width: 1128px) {
	.container {
		padding: 0 2.4em 0 2.4em;
	}
}

@media screen and (max-width: 768px) {
	.coluna {
		width: 48%;
		margin-bottom: 2.4em;
		margin-right: 2%;
	}

 	.coluna:nth-child(even) {
		margin-right: 0;
	}
}

@media screen and (max-width: 520px) {
	.coluna {
		width: 100%;
		margin-right: 0;
	}
}